


<div class="container">
	
  <div class="row reduce">	
	
		
		<div class="span16 columns">
			<div class="well">
				<div class="head-img">
					
					<div class="home-head span6">
						<h1>Elsworth Cricket Club</h1>
						<h4>Established in 1893</h4>
					</div>
					
				</div>
			</div>
						
		</div>
	</div>	

  <div class="row">
    
		<div class="span6 columns">
      <div class="well">
        <h2 class="page-header">Hire our ground</h2>    
        <h3>Quality cricket pitch, pavilion and professional tea for £200.</h3>
        <p>add pics and links etc</p>
      </div>
    
      <div class="well">
	      <h2 class="page-header">Latest Scores</h2>
	  		<% @latest_results.each do |resul| %>
					<p><%= link_to "#{resul.our_team.name} vs #{resul.opposition.name}", resul %>
					<span class='label <%= label_result(resul.result) %>'><%= resul.result %></span></p>
				<% end %>     
      </div>
    </div>
		
    <div class="span10 columns">
			<div class="well">			
		  	<h2 class="page-header">Next Fixtures</h2>
	  		<% @fixtures.each do |fixture| %>
					 <p><%= link_to fixture.match_date, fixture %> <%= fixture.opposition.name %></p>
				<% end %>    
      	<br/>

				<h2 class="page-header">News 
				<%= link_to image_tag("plus16.png", :border=>0), :action => 'new', :controller => 'news' %>
				</h2>
	    	<% @news.each do |news| %>
	  	  	<h3> <%= link_to news.title, news %> </h3>
	  	  	<p> <%= news.description %></p>
				<% end %>
			</div>
    </div>

  </div>  

</div>

