


<% form_tag '/news/new2' do %>

    <%=label_tag 'title' %>
    <%=text_field_tag 'title'%>

    <%=label_tag 'description' %>
    <%=text_area_tag 'description'%>

		<%=label_tag 'email' %>
    <%=text_field_tag 'email'%>

    <div><%= submit_tag 'Save' %></div>

<% end -%>
	

