<div class="container">
	<div class="row">
		<div class="well">		
			<h1 class="page-header">
				Edit your news
			</h1>
						
			<%= form_tag "/news/val_edit_news" do %>

				<fieldset>
					<div class="clearfix">
						<div class="field">
							<%= label_tag "Title", nil, :class => "xlarge" %>
							<div class="input">
								<%= text_field_tag 'title', @news.title, :maxlength => 200, :size => 20, :class => "xxlarge span12" %>
							</div>
						</div>
					</div>
					<div class="clearfix">
						<div class="field">
							<%= label_tag "description", nil, :class => "xxlarge" %>
							<div class="input">
								 <%= text_area_tag "description", @news.description, :maxlength => 2000, :size => 20, :class => "xxlarge span12 description"%>
							</div>
						</div>
					</div>
					<div class="clearfix">
						<div class="field">
							<%= label_tag "E-mail", nil, :class => "xxlarge" %>
							<div class="input">
								<%= text_field_tag "email", nil, :class => "xxlarge span4" %>
							</div>
						</div>
					</div>
					
					<%= hidden_field_tag 'id', @news.id %>


					<div class="btn_new">	
						<%= submit_tag "Update News", :class => 'btn primary' %>
					</div>

				</fieldset>





			<% end %>
		</div>
	</div>
</div>
