<p id="notice"><%= notice %></p>

<p>
  <b>Venue lat:</b>
  <%= @venue.venue_lat %>
</p>

<p>
  <b>Venue lng:</b>
  <%= @venue.venue_lng %>
</p>

<p>
  <b>Conditions:</b>
  <%= @venue.conditions %>
</p>


<%= link_to 'Back', venues_path %>
