

<div class="top-padding">
	
</div>

<div class="container">
	<h1 style="margin-bottom: 18px;">Player List</h1>
<ul class="thumbnails">
<% @players.each do |player| %>	
<li class="span3">
<div class="thumbnail" style="height: 280px;">
						<% if player.avatar.nil? %>
								<%= image_tag player.avatar.url(:medium) %>
						<% else %>
								<%= image_tag "no_avatar.png" %>
								
						<% end %>
						
            <div class="caption">
              <h5><%= link_to player.first_name + " " + player.last_name, player.url %></h5>
              <p><%= player.description %></p>
							<p>
								
								
								
								
							<% player.our_teams.each do |team| %>
							<% if team.name == "1st XI" %>
							 <span class="label" style="background-color: #075220; margin-right: 5px;"> <%= team.name %> </span>
							<% else %>
								<span class="label" style="background-color: #520907; margin-right: 5px;"> <%= team.name %> </span>
							<% end %>
							<% end %></p>
							
              
            </div>
          </div>

</li>
<% end %>
</ul>

</div>