  <div class="row well">
    <div class="row slim" id="main_results">
      <div id="main_detail" class="span7">
        <%= link_to "Edit", edit_match_path(result) %>
        <h2>
          <small>vs</small>
          <%= Opposition.find(result.opposition_id).name %>
          </h2>
      </div>
      <div id="sidebar" class="span4">
        <div class="row">
          <div class="span4" style="text-align:right; float:right">
          <%= span_result(result.result, 'Won') %>
          <%= span_result(result.result, 'Drawn') %>
          <%= span_result(result.result, 'Lost') %>
          </div>
          <div class="span4" style="text-align:right; float:right">
            <small><%= result.match_date.strftime("#{result.match_date.day.ordinalize} %b '%y") %></small>
          </div>
        </div> 
      </div>
    </div>
  
    <div id="score_detail" class="row slim">
      <div class="span4 offset2">
        <h1 style="margin-bottom:0px"><%= result.our_runs || '-' %>
          <small>for</small>
          <%= result.our_wickets %>
        </h1>
      </div>    
      <div class="span4">
        <h1 style="margin-bottom:0px"><%= result.opposition_runs || '-' %>
          <small>for</small>
          <%= result.opposition_wickets %>
        </h1>
      </div>    
    </div>
    
    <div id="score_graphic" class="row slim">
      <div style="position: relative, height: 20px; width: 100%">
        <%= draw_progress_bar(@progress_bar, result.our_runs, result.opposition_runs, result.result) %>
      </div> 
    </div>
  </div> 
