
	


<div class="container">
	
	<h1  style="margin-top:80px;"><%= @match.match_date.to_formatted_s(:long) %> </h1>
	<h1 id="">Elsworth <%=@match.our_team.name%> vs <%= @match.opposition.name%></h1>	 
  


<div class="row">
    
  
    <div class="span12 columns">
      <h2 class="page-header">Where is the Venue?</h2>
	  		  
			<div class="thumbnail">
				<div id="map" style="height: 400px"></div>
				<div class="caption">
          <h5>The venue is 5km from a decent pint and cheesy chips </h5>
        </div>
			</div>


				<%= javascript_include_tag "leaflet.js" %>
				<%= stylesheet_link_tag    "leaflet.css" %>
				
				
				<script>
							var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
								cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 20});

							var map = new L.Map('map');
							map.setView(new L.LatLng(<%= @match.venue.venue_lat %>, <%= @match.venue.venue_lng %>), 16).addLayer(cloudmade);
							var LeafIcon = L.Icon.extend({
							    iconUrl: "<%= asset_path 'marker.png' %>",
									    shadowUrl: "<%= asset_path 'marker-shadow.png' %>"
							    
							});
						
							var greenIcon = new LeafIcon(),
							    marker = new L.Marker(new L.LatLng(<%= @match.venue.venue_lat %>, <%= @match.venue.venue_lng %>), {icon: greenIcon});
						
						map.addLayer(marker);
					
				</script>
	
	
	
	 
      <br/>

      
	    
    </div>
  </div>  
</div>
