<div class="container">
  <div class="row">
    <div class="span16">
      <h1>Season results for <%= @year %> <small>fixed for 1st XI at the moment</small></h1>
      <!-- TODO: Allow choice between Our_teams -->
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <% @results.each do |result|%>
        <%= render :partial => 'result_small', :locals => {:result => result} %>
      <% end %>         
    </div> 
    <div class="span4">
      <h2>Season summary</h2>
      <table>
          <tr>
            <td>Won</td> 
            <td><span class="label success" style="font-size: 20px"><%= @summary[0] %></span></td>
          </tr>
          <tr>
            <td>Drawn</td>
            <td><span class="label warning" style="font-size: 20px"><%= @summary[1] %></span></td>
          </tr>
          <tr>
            <td>Lost</td>
            <td><span class="label important" style="font-size: 20px"><%= @summary[2] %></span></td>
          </tr>
      </table>
    </div>
  </div>
</div>