<p id="notice"><%= notice %></p>

<div class="container"> 
  <div class="row">
    <div class="span6 columns">

      <div class="well">
        <h2 class="page-header">add some new intelligence</h2>
  <!-- TODO: Think this "container" div and all other bits should live in template - like application.html.erb -->
<p>
  <b>Home team:</b>
  <%= @match.home_team_id %>
</p>

<p>
  <b>Away team:</b>
  <%= @match.away_team_id %>
</p>

<p>
  <b>Home score:</b>
  <%= @match.home_runs %>
</p>

<p>
  <b>Away score:</b>
  <%= @match.away_runs %>
</p>

<p>
  <b>Venue:</b>
  <%= @match.venue_id %>
</p>

<p>
  <b>Result:</b>
  <%= @match.result %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>  

</div></div></div></div>
