<!DOCTYPE html>
<html>
<head>
  <title>Elsworth CC</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %> 
  <%= javascript_include_tag "highcharts.js" %>
  <%= javascript_include_tag "highcharts_for_app.js" %>
  <%= javascript_include_tag "jquery.tablesorter.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding: 60px">
<div class="topbar">
  <div class="fill">
    <div class="container-fluid">

  		<div class="sidebar">
        <h3><a href="/">Elsworth CC</a></h3>
      </div>
    
      <div class="content">
     	  <ul class="nav secondary-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/matches">Results</a></li>
          <!-- <li><a href="/fixtures">Fixtures</a></li> -->
          <li class="dropdown" data-dropdown="dropdown">
            <a class="dropdown-toggle" href="#">Seasons</a>
            <ul class="dropdown-menu">
              <%= link_to "2011", "/season/2011" %>
              <%= link_to "2010", "/season/2010" %>
              <%= link_to "2009", "/season/2009" %>
              <%= link_to "2008", "/season/2008" %>
            </ul>
          </li>
          <!-- <li><a href="/results">Results</a></li> -->
          <!-- <li><a href="/fixtures">Fixtures</a></li> -->
          <!-- <li><a href="/players">Players</a></li> -->
          <!-- <li><a href="/history">History</a></li> -->
          <!-- <li><a href="/members-area">Members Area</a></li> --> 
          <!-- TODO: Make the active link styled correctly - using Bootstrap JS -->
        </ul>
      </div>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>